name: Validate Charts
permissions:
  contents: read

on:
  push:
    branches:
      - '*'
      - '!main'
      - '!gh-pages'
  pull_request:
    branches:
      - main

jobs:
  lint-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install helm
        env:
          HELM_VERSION: "v3.6.1"
        run: |
          curl -L https://get.helm.sh/helm-${HELM_VERSION}-linux-amd64.tar.gz | tar xzf - linux-amd64/helm
          mv linux-amd64/helm ./
      - name: helm lint
        run: |
          if [ -d "charts" ]; then
            for d in charts/*/; do
              helm lint "$d";
            done
          fi